body {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: #F9F9F9;
}

h1 {
    margin: 0;
    padding: 3rem 0 2rem;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 200;
}

section {
    max-width: 55rem;
    margin: 0 auto;
}

ul.feed {
    list-style: none;
}

ul.feed > li {
    list-style: none;
    margin: 2px;
    display: inline-block;
    padding: 0.5rem;
}

ul.feed > li > a > img {
    border: 2px solid #fff;
    height: 140px;
    width: auto;
}

ul.feed > li > a:active > img {
    animation: 0.2s linear 0s 1 alternate wobble;
    box-shadow: 0 0 1px #82C7FD;
}

@-moz-keyframes wobble {
    from { height: 140px; } to { height: 138px; }
}

ul.feed > li > a.selected > img {
    border: 2px solid #fff;
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.4);
}

ul.feed > li > a.selected:hover > img {
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.2);
}